name: jiudianyuan

on:
  schedule:
    - cron: '0 0,3,6,9,12,15,18,21 * * *'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
    
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.x

      - name: Install dependencies
        run: pip install selenium requests futures eventlet

      - name: Run itv
        run: python ${{ github.workspace }}/itv.py

      - name: Run cctv
        run: python ${{ github.workspace }}/cctv.py
        
      - name: Run weishi
        run: python ${{ github.workspace }}/weishi.py
        
      - name: 提交更改
        run: |
          git config --local user.email "aaaaayyyh5618@126.com"
          git config --local user.name "su147456888444"
          git add .
          git commit *.m3u -m "Add generated file"
          git commit *.txt -m "Add generated file"
          #git pull --rebase
          git push -f
